Repository code-sleuth/outh, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, docs, license, app-service, auth-service, docker

feat(chore): add ignore files
  .gitignore
Labels: none

chore(update): release docs
  docs/releases/v0.0.0.md
Labels: docs

feat(release): add release drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-notes.yml
Labels: ci/cd

feat(stale): close stale issues
  .github/stale.yml
Labels: ci/cd

chore(update): add project directory structure
  docs/directories/directories.md
Labels: docs

.github/labeler.yml:

# Copyright 2024 Ibrahim Mbaziira
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci/cd:
- changed-files:
  - any-glob-to-any-file:
    - ".github/**/*"
docs:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**/*"
    - "README.md"
license:
  - changed-files:
      - any-glob-to-any-file:
          - "LICENSE"
app-service:
- changed-files:
  - any-glob-to-any-file:
    - "app-service/**/*"
auth-service:
- changed-files:
  - any-glob-to-any-file:
    - "auth-service/**/*"
docker:
- changed-files:
  - any-glob-to-any-file:
    - "app-service/Dockerfile"
    - "auth-service/Dockerfile"
    - "compose.override.yml"
    - "compose.yml"
